:root {
    --color-white: #ffffff;
    --color-black: #212429;
    --color-pink: #F784AD;
    --color-purple: #7048E8;
    --color-blue: #374FC7;
    --color-red: #F03D3E;
    --color-grey-1: #F8F9FA;
    --color-grey-2: #DDE2E5;
    --color-grey-3: #ACB5BD;
    --color-grey-4: #495057;

    --color-error: var(--color-red);
    --color-success: var(--color-blue);

    --color-primary: var(--color-blue);
    --color-secondary: var(--color-purple);
    --color-alternative: transparent;
}
